<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <div class="footer-content-img">
        <h4>Calificación anual</h4>
        <img
          class="footer-img"
          src="/public/assets/images/porcentaje.png"
          alt=""
        />
      </div>
      <img
        src="../assets/images/Tu-San-Agustin_Logo.png"
        alt="Tu San Agustín Logo"
        class="footer-logo"
      />
      <p>Especialistas en bodas de destino y eventos únicos en Colombia...</p>
      <div class="social-links-footer">
        <a
          href="https://www.facebook.com/tusanagustin/"
          target="_blank"
          rel="noopener"
          aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a
        >
        <a
          href="https://www.instagram.com/tusanagustin/"
          target="_blank"
          rel="noopener"
          aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a
        >
        <a href="#" aria-label="TikTok"><i class="fa-brands fa-tiktok"></i></a>
        <a
          href="https://es.pinterest.com/tusanagustin/_saved/"
          target="_blank"
          rel="noopener"
          aria-label="Pinterest"><i class="fa-brands fa-pinterest"></i></a
        >
        <a
          href="https://www.youtube.com/user/tusanagustin"
          target="_blank"
          rel="noopener"
          aria-label="YouTube"><i class="fa-brands fa-youtube"></i></a
        >
      </div>
    </div>

    <div class="footer-section">
      <div class="footer-content-img">
        <h4>Registro Nacional de Turismo</h4>
        <img
          class="footer-img"
          src="/public/assets/images/logo-co-colombia.png"
          alt=""
          style="width:100px;"
        />
      </div>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li>
          <a href="https://www.tusanagustin.com/lugares">Sobre nosotros</a>
        </li>
        <li><a href="https://www.tusanagustin.com/lugares">Servicios</a></li>
        <li><a href="https://www.tusanagustin.com/lugares">Galerías</a></li>
        <li><a href="https://www.tusanagustin.com/lugares">Lugares</a></li>
        <li><a href="#">Historias</a></li>
        <li><a href="https://www.tusanagustin.com/blog">Blog</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <div class="footer-content-img">
        <h4>Acreditación Mercantil</h4>
        <img
          class="footer-img"
          src="../assets/images/comercio.png"
          alt=""
          style="width:200px;"
        />
      </div>
      <ul>
        <li><a href="#">Bodas de Destino</a></li>
        <li><a href="#">Gastronomía</a></li>
        <li><a href="#">Decoración</a></li>
        <li><a href="#">Lugares para Eventos</a></li>
        <li><a href="#">Turismo Especializado</a></li>
        <li><a href="#">Planificación Integral</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <div class="footer-content-img">
        <h4>Reconocimiento</h4>
        <img
          class="footer-img"
          src="../assets/images/38.png"
          alt=""
          style="width:200px;"
        />
      </div>
      <div class="contact-info">
        <p>
          <i class="fa-solid fa-phone"></i>
          <a href="tel:+573168753305">(+57) 3168753305</a>
        </p>
        <p>
          <i class="fa-solid fa-envelope"></i>
          <a href="mailto:info@tusanagustin.com">info@tusanagustin.com</a>
        </p>
      </div>
      <a
        href="#"
        class="btn btn-primary footer-cta"
        onclick="dispatchEvent(new CustomEvent('open-contact'))"
        >¡Cotiza tu evento!</a
      >
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-bottom-content">
      <p>
        © {new Date().getFullYear()} Tu San Agustín. Todos los derechos reservados.
      </p>
      <div class="footer-legal">
        <a href="#">Política de privacidad</a>
        <a href="#">Términos y condiciones</a>
      </div>
    </div>
  </div>
</footer>
