<section class="flex flex-column align-items-center">
  <div class="galeria-planifica">
    <img class="img-planifica" src="../assets/images/bodas_de_destino_tusanagustin_004.png" alt="" />
    <img class="img-planifica" src="../assets/images/bodas_de_destino_tusanagustin_005.png" alt="" />
    <img class="img-planifica" src="../assets/images/bodas_de_destino_tusanagustin_006.png" alt="" />
  </div>
  <h2>Planifica tu Boda de Ensueño</h2>
  <p class="mb w-50">Una boda destino en Medellín puede ser asequible ... actividades al aire libre.</p>
  <a href="#" class="btn btn-secondary my-4 mb" onclick="dispatchEvent(new CustomEvent('open-contact'))">Agenda una cita con un especialista</a>
  <h3 class="subtituto">Descubre la Magia de <span>Medellin</span></h3>
</section>
