---
---
<div class="nav-overlay" onclick="document.body.classList.remove('nav-open')"></div>
<div class="nav-sidebar" id="navSidebar">
  <button class="nav-close" onclick="document.body.classList.remove('nav-open')">
    <i class="fas fa-times"></i>
  </button>

  <a href="#" onclick="document.body.classList.remove('nav-open')">Inicio</a>
  <a href="https://www.tusanagustin.com/sobre-nosotros" onclick="document.body.classList.remove('nav-open')">Sobre nosotros</a>
  <a href="https://www.tusanagustin.com/servicios" onclick="document.body.classList.remove('nav-open')">Servicios</a>
  <a href="https://www.tusanagustin.com/galeria" onclick="document.body.classList.remove('nav-open')">Galerías</a>
  <a href="https://www.tusanagustin.com/lugares" onclick="document.body.classList.remove('nav-open')">Lugares</a>
  <a href="#" onclick="document.body.classList.remove('nav-open')">Historias</a>
  <a href="https://www.tusanagustin.com/blog" onclick="document.body.classList.remove('nav-open')">Blog</a>
  <a href="#" class="btn btn-menu btn-primary" onclick="document.body.classList.remove('nav-open'); dispatchEvent(new CustomEvent('open-contact'));">Contacto</a>

  <div style="display:flex; flex-wrap:wrap;">
    <a href="https://www.facebook.com/tusanagustin/" target="_blank" rel="noopener"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/tusanagustin/" target="_blank" rel="noopener"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-tiktok"></i></a>
    <a href="https://es.pinterest.com/tusanagustin/_saved/" target="_blank" rel="noopener"><i class="fa-brands fa-pinterest"></i></a>
    <a href="https://www.linkedin.com/in/san-agust%C3%ADn-eventos-y-turismo-b36aa8109/" target="_blank" rel="noopener"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://www.youtube.com/user/tusanagustin" target="_blank" rel="noopener"><i class="fa-brands fa-youtube"></i></a>
    <a href="https://www.flickr.com/photos/tusanagustin/" target="_blank" rel="noopener"><i class="fab fa-flickr"></i></a>
    <a href="https://api.whatsapp.com/send/?phone=573168753305&text=%EF%BF%BD+Hola%21&type=phone_number&app_absent=0" target="_blank" rel="noopener"><i class="fab fa-whatsapp"></i></a>
  </div>
</div>


<style>
  :global(body.nav-open) .nav-overlay { display:block; }
  :global(body.nav-open) .nav-sidebar { right:0; }
</style>
