<section class="section-conoce">
  <div class="col-1">
    <img
      class="img-izq"
      src="../assets/images/bodas_de_destino_tusanagustin_007.jpg"
      alt=""
    />
    <img
      class="img-izq"
      src="../assets/images/bodas_de_destino_tusanagustin_008.jpg"
      alt=""
    />
  </div>
  <div class="col-1">
    <h4>Conoce Nuestros Planes de</h4>
    <h2>Turismo Especializado</h2>
    <p class="mb p-2">
      ¡Tu San Agustín te ofrece lunas de miel inolvidables! ...
    </p>
    <a href="https://www.tusanagustin.com/servicios" class="btn btn-primary"
      >Ver más</a
    >
  </div>
  <div class="col-1">
    <img
      class="img-der"
      src="../assets/images/bodas_de_destino_tusanagustin_009.jpg"
      alt=""
    />
  </div>
</section>
