<section class="eventos-section bg-dark">
  <div>
    <img src="../assets/images/bodas_de_destino_tusanagustin_003.jpg" alt="" />
  </div>
  <div class="contenedor-ventajas">
    <div>
      <h2>Bodas de Destino,</h2>
      <h3>Ventajas</h3>
      <ul class="mb">
        <li>Tendrás una boda única entre todas.</li>
        <li>Tendrás solamente a los invitados más especiales.</li>
        <li>Te ahorrarás dinero.</li>
        <li>Pasarás tiempo de calidad con tus invitados.</li>
        <li>Tendrás las fotografías más épicas.</li>
        <li>Saldrás de la rutina.</li>
        <li>Puedes empezar tu luna de miel con más tiempo.</li>
        <li>Visitarás lugares encantadores.</li>
        <li>Disfrutarás de una oferta gastronómica de primer nivel.</li>
      </ul>
      <a href="https://www.tusanagustin.com/lugares" class="btn btn-primary"
        >Ver más</a
      >
    </div>
  </div>
</section>
