<section class="eventos-section img-background">
  <div>
    <img
      src="../assets/images/bodas_de_destino_tusanagustin_002 (1).jpg"
      alt="Pareja celebrando su boda en Tu San Agustín..."
    />
  </div>
  <div>
    <div class="contenedor-casate">
      <h2>
        Cásate en Medellín, Colombia <br />Boda y luna de miel, dos en uno
      </h2>
      <p class="mb">
        Las bodas destino son celebraciones íntimas ... festejar el amor.
      </p>
      <a
        href="https://api.whatsapp.com/send/?phone=573168753305&text=%EF%BF%BD+Hola%21&type=phone_number&app_absent=0"
        class="btn btn-secondary my-4">Agenda una cita con un especialista</a
      >
    </div>
  </div>
</section>
