<div class="video-container">
  <div
    class="video-thumbnail"
    onclick="document.getElementById('video-player').style.display='block'; this.style.display='none';"
  >
    <img
      class="img-video"
      src="../assets/images/Bodas-de-Destino-foto-para-video.jpg"
      alt="Video de bodas de destino"
    />
  </div>
  <iframe
    id="video-player"
    class="video-iframe"
    src="https://www.youtube.com/embed/E9MmjZwDO0s?rel=0"
    title="Boda Destino San Agustín"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    style="display:none;"
  >
  </iframe>
</div>
